.container-carrito-vacio {
    background-color: #142b3b;
    height: 65vh;
}

.container-carrito-vacio h1 {
    color: #ffcc99;
    margin-bottom: 30px;
}

.cart {
    height: 60vh;
    overflow: auto;
    background-color: #142b3b;
}

.cart .container-card-item {
    height: 100%;
    width: 80%;
}


.cart h3 {
    margin: 15px;
    color: #ffcc99;
}

.btn-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    border: 1px solid #ffcc99;
    text-decoration: none;
    color: #e47c5d;
    background-color: #0d1c27;
    border-radius: 15px;
    padding: 2px;
    margin: 10px;
}

@media screen and (max-width:430px) {
    .container-carrito-vacio h1 {
        font-size: 20px;
    }

    .cart h3 {
        font-size: 20px;
    }

    .btn-checkout {
        height: 30px;
        width: 100px;
        font-size: 12px;
    }
}