.card-detail{
    height: 600px;
    width: 300px;
}

.card-detail .card-body{
    width: 100%;
    height: 100%;
    padding: 0px;
}



.card-detail img{
    width: 100%;
    height: 60%;
}

.card-detail .card-content{
    width: 100%;
    height: 30%;
}

.card-detail .card-content .card-title{
    margin: 0px;
    font-size: 18px;
}

.card-detail .card-content .container-card-text{
    margin: 0px;
    font-size: 14px;
}

.card-detail .card-content .container-card-text .card-text{
    margin: 5px;
}

.card-detail .card-count{
    width: 100%;
    height: 10%;
    color: #e47c5d;
}

.card-detail .btn-finalizar{
    height: 24px;
    width: 130px;
    border: 3px solid #ffcc99;
    text-decoration: none;
    color: #0d1c27;
    background-color: #ffcc99;
    border-radius: 15px;
    padding: 2px;
}

