.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 65%;
    max-width: 1200px;
    margin-bottom: 20px auto;
}

.card {
    border: 2px solid #ffcc99;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    text-align: center;
    background-color: #0d1c27;
    transition: 1s;
}

.card img {
    width: 100%;
}

.card-body .card-title{
    color: #e47c5d;
}

.card .card-body .container-card-text{
    margin-top: 10px;
}

.card .card-body .item-text{
    margin: 0px;
    color: #5ebdb256;
    font-size: 15px;
}

.btn-ver-mas {
    border: 3px solid #ffcc99;
    text-decoration: none;
    color: #0d1c27;
    background-color: #ffcc99;
    font-size: 16px;
    border-radius: 15px;
}


@media screen and (max-width:1440px) {
    .container{
        padding-bottom: 3rem;
    }
}

@media screen and (max-width:1366px) {
    .container{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (max-width:725px) {
    .container{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (max-width:490px) {
    .container{
        grid-template-columns: repeat(1, 1fr)
    }
}

@media screen and (max-width:360px) {
    .container{
        grid-template-columns: repeat(1, 1fr)
    }
}