.navbar{
    background-color: #142b3b;
}
.navbar-light .navbar-toggler{
    background-color: #ffcc99;
    color: #e47c5d;
    border-color: #0d1c27;
}


#logo-home{
    width: 150px;
    height: 150px;
}
