.card-item{
    width: 80%;
}

.card div .card-title {
    color: #e47c5d;
}

.card .card-body p{
    margin: 0;
}

.card div .card-text {
    color: #e47c5d;
    margin: 15px;
}

.card .btn-cart {
    margin: 5px;
    height: 40px;
    width: 40px;
}