.grid-container-footer {
    height: 20vh;
    background-color: #0d1c27;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: "logo img" "parrafo parrafo";
}

.grid-container-footer .footer-link {
    grid-area: logo;
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
}

.grid-container-footer .footer-link img {
    width: 100px;
    height: 100px;
}

.grid-container-footer .grid-footer-img {
    grid-area: img;

}

.grid-container-footer .grid-footer-img .footer-img {
    margin-right: 20px;
}

.grid-container-footer .grid-footer-img .footer-img img {
    width: 40px;
    height: 40px;
    margin: 2px;
}


.grid-container-footer .footer-parrafo {
    color: #ffcc99;
    grid-area: parrafo;
    height: 30px;
}

@media screen and (max-width:430px) {
    .grid-container-footer .grid-footer-img .footer-img img {
        width: 35px;
        height: 35px;
    }

    .grid-container-footer .footer-parrafo p{
        font-size: 10px;
    }

    .grid-container-footer .footer-link img {
        width: 80px;
        height: 80px;
    }
}